    .pagination-container {
    margin-top: 20px;
    text-align: center;
    }

    .pagination-controls {
        display: flex; /* Gardez display flex pour l'alignement des boutons */
        justify-content: center; /* Centrez les boutons */
        gap: 8px; /* Espacement entre les boutons */
        width: auto;
        margin-top: 10px;
    }

    .pagination-controls button.active{
        background-color: rgba(230, 155, 58, 0.2);
        color: #E69B3A;
        display: flex;
        justify-content: center;
        gap: 8px;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    border-radius: 4px;
    }

    button:hover:not([disabled]) {
    background-color: #f0f0f0;
    }

    button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    }

    button.active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    }
