<div class="flex items-center space-x-4">
    <div style="float: left;">
        <div class="w-10 h-10 rounded-full bg-gray-200 flex items-center justify-center">
            <svg class="w-6 h-6 text-gray-600" fill="currentColor"
                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                    clip-rule="evenodd"></path>
            </svg>
        </div>
    </div>
    <a href="#" class="text-red-600" (click)="logout()">Deconnexion</a>
    <div class="text-right">
        <p class="font-medium text-gray-800">{{ prenom }} {{ nom }}</p>
        <p class="text-sm text-gray-500">Admin</p>
    </div>
    <div style="clear: left;"></div> </div>